NETWORKS="bridge,host"
COMPOSE_ROOTS="/srv/compose,/home/luka/projects"
IGNORE_PATHS="node_modules,.git,volumes,data"
ENABLE_IPV6="false"
ENABLE_COLOR="true"

GROUP_INFRA="192.168.1.1-192.168.1.254"
GROUP_APPS="192.168.2.1-192.168.2.254"
